:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --image-shadow: rgba(0, 0, 0, .15);
    --link-nothover: #a9a9a9;

    /* buttons */
    /* --button-icon: #000000; */
    --invert: #000000;
    --button-color: #f4f4f4;
    --button-hover: #d1d1d1;
    --button-click: #979797;

    --dark-invert: #ffffff;
    --dark-button-color: #4a4a4a;
    --dark-button-hover: #7e7e7e;
    --dark-button-click: #212121;

    --search-border: #d3d4d5;
    --hover-half: #707070;
}
