:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --text-hover-1: #555;
    --text-hover-2: #333;
    --text-hover-3: #111;

    --btn-light-color: #f4f4f4;
    --btn-light-hover: #d1d1d1;
    --btn-light-click: #979797;

    --btn-dark-color: #4a4a4a;
    --btn-dark-hover: #7e7e7e;
    --btn-dark-click: #212121;
}
