@media(max-width: 1200px) {
    .ps-3--local {
        padding-left: 1rem !important;
    }
}

@media(min-width: 1199px) {
    .ps-3--local {
        margin-left: -20px;
    }
}

@media(max-width: 991px) {
    .game-block{
        max-width: 350px;
    }
}
