.header--main {
    margin-top: 15px;
    margin-bottom: 15px;
}

.header--text {
    font-size: 15px;
}

.header--locale
{
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.header--locale-disable, .header--locale-disable:hover
{
    color: #333333 !important;
    text-align: none;

    border-radius: 8px;
}

.header--locale-active
{
    color: #a9a9a9;
    text-decoration: none;

    border-radius: 8px;
}

.header--locale-active:hover {
    color: #333333;
    text-decoration: none;
}

.header--theme-icon
{
    margin: 0px 10px 0px 10px;
}
